<link href="~/Content/About.css" rel="stylesheet" />
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7" >
                        <p class="text-center display-6 fw-bolder"  style="color: rgb(11, 93, 102);">
                            Why Student Voters Matter?
                        </p>
                    </div>
                    <div class="col-lg-12" >
                        <p class="text-center fs-4 fw-semibold" style="color:#e3603a; word-spacing:15px;">
                            We can help change historical trends in student voting.
                        </p>
                    </div>
                    <div class="col-lg-12" >
                        <p class="text-center fs-6 px-5">
                            Historically, young adults have voted at lower rates than older cohorts.  They are also the newest members of our democracy, move more frequently, are less likely to have a driver’s license, and are less likely to be contacted directly by political campaigns then older age groups, all of which are barriers to registering and voting.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card-img-top">
                    <img src="~/Images/About.jpg" class="img-fluid w-100 rounded"/>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-5">
        <div class="row mt-2 mb-3">
            <div class="col-lg-12">
                <p class="text-center display-4 fw-bolder" style="color: rgb(11, 93, 102);">Careers</p>
            </div>
        </div>
        <div class="row mt-2 p-4">
            <div class="col-lg-6 pt-4">
                <div class="card-img">
                    <img src="~/Images/careers-page.jpg" class="img-fluid rounded" width="700" />
                </div>
            </div>
            <div class="col-lg-6 mt-sm-4">
                <div class="row">
                    <div class="col-lg-12" >
                        <p class="text-center display-6 fw-semibold" style="color: rgb(11, 93, 102);">Who We Are ?</p>
                    </div>
                    <div class="col-lg-12 px-5 lh-lg fw-lighter">
                        <p>
                            In a world where democracy is a cornerstone of society, we are a dedicated team of individuals who have emerged as fierce advocates for voting rights and the enhancement of election administration. Our goal is to ensure that every voice is heard and every vote counts, particularly in historically underrepresented communities.
                        </p>
                        <p>
                            We are a passionate and diverse group of change-makers that recognizes the cornerstone of any thriving democracy is an accessible and fair electoral system. Through tireless dedication, we are fighting to dismantle barriers to voting and improve the very mechanisms that underpin the democratic process.
                        </p>
                        <p>
                            Through our unwavering commitment, we are reshaping the landscape of democracy. We are striving to ensure that the fundamental right to vote is protected for all citizens, regardless of their background or circumstances, and that elections are conducted with integrity and fairness. By relentlessly advocating for voting rights and election administration reform, our team is paving the way for a stronger, more inclusive, and truly representative democracy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="row pb-5" style="background-color: #588b8830;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row mt-5"  id="heading">
                        <p class="text-center display-6 fw-semibold" style="color: rgb(11, 93, 102);">Our Work Enviroment</p>
                    </div>
                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col-lg-9">
                            <p class="text-center">
                                Fair Elections Center creates a work environment that promotes diversity, job satisfaction, respect, responsibility, integrity, and value for
                                all our employees, partners, students, and other stakeholders.
                            </p>
                            <p class="text-center px-5">
                                Whether you are interested in social events or professional development events, there is something for everybody!
                                Here are a few activities that employees participate in.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 d-lg-flex justify-content-lg-around py-5">
                    <div class="imgcard">
                        <div class="card-img-top text-center">
                            <i class="bi bi-people-fill" style="font-size: 50px; color: #e3603a;"></i>
                        </div>
                        <div class="card-body text-center">
                            <p>Annual Staff Retreat</p>
                        </div>
                    </div>
                    <div class="imgcard">
                        <div class="card-img-top text-center">
                            <i class="bi bi-emoji-smile-fill" style="font-size: 50px; color: #e3603a;"></i>
                        </div>
                        <div class="card-body text-center">
                            <p>Happy Hour</p>
                        </div>
                    </div>
                    <div class="imgcard">
                        <div class="card-img-top text-center">
                            <i class="bi bi-controller" style="font-size: 50px; color: #e3603a;"></i>
                        </div>
                        <div class="card-body text-center">
                            <p>Game Nights</p>
                        </div>
                    </div>
                    @*<div class="imgcard">
                        <div class="card-img-top text-center">

                        </div>
                        <div class="card-body text-center">
                            <p>Staff Takover</p>
                        </div>
                    </div>*@
                    <div class="imgcard">
                        <div class="card-img-top text-center">
                            <i class="bi bi-pc-display-horizontal" style="font-size: 50px; color: #e3603a;"></i>
                        </div>
                        <div class="card-body text-center">
                            <p>Webinars & Conference</p>
                        </div>
                    </div>
                </div>
            </div>
       
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="fw-semibold">We also like to recognize our employees with special recognition awards, birthday gifts and employee shout outs.</p>
                </div>
            </div>
        </div>
    </section>
</main>